.about__container {
  background-color: #06143b;
  padding: 50px;
  margin-top: 50px;
  border-radius: 10px;
}

.about__title {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.about__paragraph {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  color: #fff;
  letter-spacing: 1px;
}