.header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  
  padding: 10px 30px;
}


.logo{
  width: 100%;
  height: 100%;
}





.menu__list{
  list-style: none;
  display: flex;
  gap: 40px; 
  
}


.menu__link{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
  color: #18272F;
  position: relative;
}

.menu__link::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: rgb(255, 53, 53);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  
}

.menu__link:hover::before{
  transform-origin: left;
  transform: scaleX(1);
}

@media  screen and (max-width:375px){

  .header{
    display: flex;
    width: 375px;

  }

  .link__logo{
      width: 10px;
  }

  .logo{
    width: 100px;
  }
   

  .menu__link{
    display: none;
  }

  .activo{
    display: block;
    font-size: 19px;
  }
  
}