.presentation__container {
  
  display: flex;
}

.presentation__div {
  display: flex;
  flex-direction: column;
padding: 61px 17px 61px 50px;
  width: fit-content;
}

.presentation__photo {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  margin: auto;

}

.div__photo{

  height: fit-content;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.presentation__title {
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: 'Montserrat', sans-serif;
  width: fit-content;
}

.presentation__data {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  width: fit-content;
}

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  width: fit-content;
  margin-top: 20px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.facebook {
  background-color: #3b5998;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #3b5998;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}

@media  screen and (max-width:430px){

  .presentation__container{
    flex-direction: column-reverse;
    
  }

  .div__photo{
    width: 375px;
    padding: 10px;
    padding-left: 80px;
  }


  .presentation__photo{
    height: 250px;
    width: 250px;
    
  }

  .presentation__div{
    padding:10px 10px 10px 45px;
    
  }

  .presentation__title{
    font-size: 20px;
    text-align:justify,
  }

  .presentation__data{
    font-size: 15px;
  }
}